.settings {
  overflow: scroll;
  position: relative;
  left: -1px;
  width: calc(100% + 2px);
  max-width: 85rem;
  height: 100vh;
  margin: auto;
  padding-top: 10vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 2.5rem;

  .admin-code {
    padding-left: 25%;
    text-align: left;
    position: relative;

    &--input {
      text-align: center;
      font-size: 2.5rem;
      border-radius: .1rem;
      outline: none;
      border: 1px solid lightgray;
      width: 50%;
    }
  }

  .cheating-system {
    margin-top: 10rem;
    padding: 0 .5rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;

    .title {
      margin-bottom: 3rem;
    }
  }
}
